<template>
  <strong
    class="countdown-badge has-background-white has-text-danger is-pulled-right"
  >
    Quedan {{ remainingDays }} días para entregar tus regalos!
  </strong>
</template>

<script>
export default {
  name: "CountdownBadge",
  props: {
    remainingDays: {
      type: Number,
      required: true
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.countdown-badge {
  padding: 0.5rem 1rem 0.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
</style>
