<template>
  <b-navbar type="is-dark" :transparent="transparent">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img src="../assets/logo.png" alt="Logo" />
        <span class="is-sr-only">Página de inicio</span>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/mygifts' }">
        Mis regalos
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/volunteer' }">
        Voluntarios
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <router-link
            to="/account"
            class="button is-info"
            v-if="!$route.name.match('account')"
            >Registro</router-link
          >
          <router-link
            to="/login"
            class="button is-light"
            v-if="!$route.name.match('login')"
            >Ingresar</router-link
          >
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: "MenuBar",
  props: {
    transparent: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped lang="scss"></style>
