<template>
  <footer class="footer">
    <div class="container content">
      <div class="columns">
        <div class="column">
          <p><b>Contacto</b></p>
          <p>
            Para máa informacion sobre la campaña, sugerencias o reportar
            problemas con el sitio, enviar un correo a
            <a href="mailto:info@example.com">info@example.com</a>
          </p>
        </div>
        <div class="column">
          <p><b>Quieres incribirte como voluntario?</b></p>
          <p>
            Para mas detalles sobre como podes ayudarnos, visita la seccion de
            <router-link to="/volunteer"
              >informacion para voluntarios</router-link
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "PageFooter"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
