<template>
  <div class="password-gauge is-pulled-right">
    <span class="is-size-7">{{ strength }}</span>
    <div
      class="password-gauge__bar"
      :class="{
        'password-gauge__bar--red': score === 1,
        'password-gauge__bar--yellow': score === 2,
        'password-gauge__bar--green': score > 2
      }"
    ></div>
    <div
      class="password-gauge__bar"
      :class="{
        'password-gauge__bar--yellow': score === 2,
        'password-gauge__bar--green': score > 2
      }"
    ></div>
    <div
      class="password-gauge__bar"
      :class="{
        'password-gauge__bar--green': score > 2
      }"
    ></div>
    <div
      class="password-gauge__bar"
      :class="{
        'password-gauge__bar--green': score > 3
      }"
    ></div>
    <span class="is-sr-only">Score: {{ score }} de 4</span>
  </div>
</template>

<script>
export default {
  name: "PasswordGauge",
  props: {
    score: {
      type: Number,
      default: 0
    }
  },
  computed: {
    strength() {
      if (this.score > 3) {
        return "excelente";
      } else if (this.score > 2) {
        return "buena";
      } else if (this.score > 1) {
        return "aceptable";
      } else if (this.score > 0) {
        return "debil";
      }

      return "";
    }
  }
};
</script>

<style scoped lang="scss">
.password-gauge {
  font-weight: normal;

  &__bar {
    display: inline-block;
    height: 0.5rem;
    width: 2.5rem;
    background-color: #cccccc;
    margin-left: 5px;

    &--red {
      background-color: #ff0000 !important;
    }

    &--yellow {
      background-color: #ffcc00 !important;
    }

    &--green {
      background-color: #00cc00 !important;
    }
  }
}
</style>
