<template>
  <div class="profile-picture">
    <img
      class="profile-picture__hat"
      src="../assets/little-helper-hat.svg"
      alt="Hat"
    />
    <img class="profile-picture__image" :src="gravatarImage" alt="Avatar" />
  </div>
</template>

<script>
import md5 from "js-md5";

export default {
  name: "ProfilePicture",
  props: {
    email: String
  },
  computed: {
    gravatarImage() {
      const emailNormalized = this.email.toLowerCase();
      const hash = md5(emailNormalized);

      return `https://www.gravatar.com/avatar/${hash}?s=200&d=mp`;
    }
  }
};
</script>

<style lang="scss">
.profile-picture {
  position: relative;
  margin: 2rem auto;
  width: 200px;
  animation: 8s ease 0s infinite picture-effect;
  transform-origin: 50% 75%;

  &__hat {
    position: relative;
    margin-bottom: -40px;
    z-index: 1;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }
}

@keyframes picture-effect {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
</style>
