<template>
  <div class="snowflake-container">
    <div
      v-for="(snowflake, index) in snowflakes"
      :key="index"
      class="snowflake"
    ></div>
  </div>
</template>

<script>
export default {
  name: "SnowLayer",
  props: {
    amount: {
      type: Number,
      default: 10
    }
  },
  data() {
    const snowflakes = [];

    for (let i = 0; i < this.amount; i += 1) {
      const snowflake = {};

      snowflakes.push(snowflake);
    }

    return {
      snowflakes
    };
  },
  mounted() {
    // TODO: support more snowflakes via js
  }
};
</script>

<style lang="scss">
.snowflake-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  color: white;

  &:after {
    content: "\2744";
  }
}

$count: 10;
@for $i from 1 through $count {
  $lane: (100 / $count);
  $left: ($lane * $i - $lane / 2) * 1%;
  $size: random(20) + 4;

  .snowflake:nth-of-type(#{$i}) {
    animation-name: snowflake-#{$i};
    animation-iteration-count: infinite;
    animation-duration: (32 - $size) * 1s;
    animation-delay: random(16) - 1s;
    left: $left;
    top: -10%;

    &:after {
      font-size: $size * 1px;
    }
  }

  @keyframes snowflake-#{$i} {
    0% {
      transform: rotate(0deg);
      top: -10%;
      left: $left;
    }
    25% {
      left: $left - 1%;
    }
    50% {
      left: $left;
    }
    75% {
      left: $left - 2%;
    }
    100% {
      transform: rotate(360deg);
      top: 110%;
      left: $left;
    }
  }
}
</style>
