<template>
  <div id="app">
    <MenuBar v-if="!$route.name.match('home')" />
    <router-view />
    <PageFooter />
  </div>
</template>

<script>
// @ is an alias to /src
import MenuBar from "@/components/MenuBar.vue";
import PageFooter from "@/components/PageFooter.vue";
import "@/styles/global.scss";

export default {
  name: "home",
  components: {
    MenuBar,
    PageFooter
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss"></style>
