<template>
  <div class="account-page">
    <section class="section">
      <div class="container">
        <h1 class="title">Registro de nuevos usuarios</h1>
        <div class="columns">
          <div class="column is-two-fifths-fullhd">
            <ProfilePicture :email="email" />
          </div>
          <div class="column">
            <form class="">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    class="input"
                    :class="{ 'is-danger': nameTouched && nameError }"
                    type="name"
                    v-model="name"
                    @blur="nameTouched = true"
                    placeholder="John Doe"
                    required
                    v-focus
                  />
                </div>
                <p v-if="nameTouched && nameError" class="help is-danger">
                  {{ nameError }}
                </p>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input"
                    :class="{ 'is-danger': emailTouched && emailError }"
                    type="email"
                    v-model="email"
                    @blur="emailTouched = true"
                    placeholder="example@example.com"
                    required
                  />
                </div>
                <p v-if="emailTouched && emailError" class="help is-danger">
                  {{ emailError }}
                </p>
              </div>
              <div class="field">
                <label class="label">Teléfono (opcional)</label>
                <div class="control">
                  <input
                    class="input"
                    :class="{ 'is-danger': phoneTouched && phoneError }"
                    type="tel"
                    v-model="phone"
                    @blur="phoneTouched = true"
                    placeholder="5555-5555"
                  />
                </div>
                <p v-if="phoneTouched && phoneError" class="help is-danger">
                  {{ phoneError }}
                </p>
              </div>
              <div class="field">
                <p class="has-text-weight-bold">
                  Deseo colaborar con:
                </p>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Con la donación de regalos
                  </label>
                </div>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Como voluntario
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label"
                  >Contraseña <PasswordGauge :score="passwordValidation.score"
                /></label>
                <div class="control has-icons-right">
                  <input
                    class="input"
                    :class="{
                      'is-danger':
                        passwordTouched && passwordValidation.score < 2
                    }"
                    :type="showPassword ? 'text' : 'password'"
                    v-model="password"
                    @blur="passwordTouched = true"
                    required
                  />
                  <span
                    class="icon is-small is-right has-text-link"
                    style="pointer-events: auto;"
                    @click="showPassword = !showPassword"
                  >
                    <i
                      class="mdi"
                      :class="{
                        'mdi-eye': !showPassword,
                        'mdi-eye-off': showPassword
                      }"
                    ></i>
                  </span>
                </div>
                <p
                  v-if="passwordTouched && passwordValidation.score < 2"
                  class="help is-danger"
                >
                  {{
                    passwordValidation.feedback.warning ||
                      "La contraseña no es aceptable"
                  }}
                </p>
                <div
                  v-if="
                    passwordValidation.score <= 2 &&
                      passwordValidation.feedback.suggestions &&
                      passwordValidation.feedback.suggestions.length
                  "
                  class="content password-suggestions"
                >
                  Sugerencias:
                  <ul>
                    <li
                      v-for="s in passwordValidation.feedback.suggestions"
                      :key="s"
                    >
                      {{ s }}
                    </li>
                  </ul>
                </div>
              </div>

              <!--div class="field vertical-divider">
                <p>
                  Al registrarse, hace constar que ha leido y acepta todos los
                  <a href="#">terminos y condiciones</a>.
                </p>
              </div-->
              <div class="field vertical-divider">
                <p class="control">
                  <button
                    type="submit"
                    class="button is-info"
                    :disabled="accountCreateDisabled"
                  >
                    Registrarse
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {
  isEmpty,
  isValidEmail,
  isValidName,
  isValidPhone,
  validatePassword
} from "@/validation";
import ProfilePicture from "@/components/ProfilePicture.vue";
import PasswordGauge from "@/components/PasswordGauge.vue";

export default {
  name: "Account",
  components: {
    ProfilePicture,
    PasswordGauge
  },
  data() {
    return {
      name: "",
      email: "jose.barrantes@avantica.net",
      phone: "",
      password: "",
      nameTouched: false,
      emailTouched: false,
      phoneTouched: false,
      passwordTouched: false,
      showPassword: false
    };
  },
  computed: {
    nameError() {
      if (isEmpty(this.name)) {
        return "Este campo es requerido";
      }

      if (!isValidName(this.name)) {
        return "El valor de este campo no es valido";
      }

      return null;
    },
    emailError() {
      if (isEmpty(this.email)) {
        return "Este campo es requerido";
      }

      if (!isValidEmail(this.email)) {
        return "El valor de este campo no es valido";
      }

      return null;
    },
    phoneError() {
      if (!isEmpty(this.phone)) {
        if (!isValidPhone(this.phone)) {
          return "El valor de este campo no es valido";
        }
      }

      return null;
    },
    passwordValidation() {
      return validatePassword(this.password);
    },
    accountCreateDisabled() {
      return (
        this.nameError ||
        this.emailError ||
        this.phoneError ||
        this.passwordValidation.score < 2
      );
    }
  }
};
</script>

<style lang="scss">
.password-suggestions {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
</style>
