<template>
  <div class="home-page">
    <section class="campaign-cover hero is-dark is-relative">
      <SnowLayer />
      <div class="hero-head">
        <MenuBar transparent />
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 has-text-weight-bold">
            Un regalo, una sonrisa – 2020
          </h1>
          <h2 class="subtitle is-3">
            Del 15 de noviembre al 10 de diciembre
          </h2>
          <p>
            <a class="button is-medium is-warning">
              <strong>Quiero donar un regalo!</strong>
            </a>
          </p>
        </div>
      </div>
      <div class="hero-footer">
        <div class="container">
          <CountdownBadge :remainingDays="5" />
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title is-sr-only">Progreso</h1>

        <div class="campaign-progress has-background-grey-lighter">
          <div
            class="campaign-progress__bar has-background-info"
            style="width: 66%;"
          ></div>
          <div
            class="campaign-progress__bar has-background-success"
            style="width: 56%;"
          ></div>
        </div>
        <div class="content">
          <p>
            <b
              ><span
                class="campaign-progress__label has-background-grey-lighter"
              ></span>
              Nuestra meta:</b
            >
            200 regalos<br />
            <b
              ><span
                class="campaign-progress__label has-background-info"
              ></span>
              Regalos con padrino:</b
            >
            132 (66%) aun estas a tiempo de registrarte!<br />
            <b
              ><span
                class="campaign-progress__label has-background-success"
              ></span>
              Regalos recibidos:</b
            >
            112 (56%) no olvides entregar el tuyo!
          </p>
          <p>
            Recorda que cada juguete que donás = un niño más féliz, unite a la
            campaña esta Navidad!
          </p>
          <h3>Importante</h3>
          <p>Los regalos deben cumplir las siguientes condiciones:</p>
          <ol>
            <li>Deben ser juguetes nuevos,</li>
            <li>no bélicos,</li>
            <li>que no requieran baterías,</li>
            <li>y preferiblemente no muy grandes</li>
            <li>ni aquellos que puedan causar alergias</li>
          </ol>
          <h3>Puntos de entrega</h3>
          <p>Los regalos se pueden entregar en los siguiente lugares:</p>
          <ol>
            <li>En la oficina de Talent Management de tu sede</li>
            <li>En la oficina de soporte (sede de San Jose)</li>
            <li>o contactar a Karla (cel: 5555-5555)</li>
          </ol>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import MenuBar from "@/components/MenuBar.vue";
import CountdownBadge from "@/components/CountdownBadge.vue";
import SnowLayer from "@/components/SnowLayer.vue";

export default {
  name: "Home",
  components: {
    MenuBar,
    CountdownBadge,
    SnowLayer
  }
};
</script>

<style lang="scss">
.campaign-cover {
  background-image: url("../assets/cover.jpg") !important;
  background-attachment: fixed;
  background-size: cover;

  .title,
  .subtitle {
    text-shadow: 0px 1px 4px #000;
  }

  .button {
    box-shadow: 0 2px 9px -2px black;
  }
}

.campaign-progress {
  height: 2.5rem;
  position: relative;
  margin-bottom: 1rem;

  &__bar {
    position: absolute;
    left: 0;
    height: 100%;
  }

  &__label {
    display: inline-block;
    width: 1.618rem;
    height: 1rem;
    margin-bottom: -0.1rem;
  }
}
</style>
