<template>
  <div class="login-page">
    <section class="section login-section has-background-white-bis">
      <form class="login-box box">
        <h1 class="title has-text-centered">Ingreso</h1>
        <div class="content">
          Para acceder a ciertas secciones, como padrino o como voluntario es
          necesario ingresar tus credenciales
        </div>
        <b-field label="Email">
          <b-input ref="email" type="email" v-model="email" required> </b-input>
        </b-field>
        <b-field label="Contraseña" class="is-marginless">
          <b-input type="password" v-model="password" required password-reveal>
          </b-input>
        </b-field>
        <div class="content has-text-right">
          <router-link to="/forgotpassword">Olvide mi contraseña</router-link>
        </div>
        <div class="field">
          <p class="control">
            <b-button type="is-primary" native-type="submit">
              Ingresar
            </b-button>
          </p>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  mounted() {
    this.$refs.email.focus();
  }
};
</script>

<style lang="scss">
.login-section {
  min-height: 75vh;
}
.login-box {
  max-width: 25rem;
  margin: 1rem auto 0;
}
</style>
