<template>
  <div class="mygifts-page">
    <section class="section">
      <div class="container">
        <h1 class="title">Mis Regalos</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "MyGifts"
};
</script>

<style lang="scss"></style>
