<template>
  <div class="volunteer-page">
    <section class="section">
      <div class="container">
        <h1 class="title">Voluntarios</h1>
      </div>
    </section>

    <PageFooter />
  </div>
</template>

<script>
export default {
  name: "Volunteer"
};
</script>

<style lang="scss"></style>
